REGISTRY=ghcr.io
NAMESPACE=huangjxjx
VERSION=latest

BACKEND_IMAGE=ghcr.io/huangjxjx/tracing-ancient-buildings-backend:latest
FRONTEND_IMAGE=ghcr.io/huangjxjx/tracing-ancient-buildings-frontend:latest
